# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\srp\new\log4j-trunk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
